In [157]:
import numpy as np,pandas as pd,requests,re
from bs4 import BeautifulSoup

In [158]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options

In [159]:
path=r"C:\Users\utkar\Downloads\chromedriver.exe"

In [160]:
servise=Service(executable_path=path)

In [161]:
driver=webdriver.Chrome(service=servise)

In [162]:
page=requests.get("https://www.linkedin.com/search/results/people/?keywords=firstname%20lastname&origin=CLUSTER_EXPANSION&page=2&sid=vqQ")

In [163]:
page

In [363]:
first_name=[]
role=[]
location=[]
for i in range(1,11):
    url=f"https://www.linkedin.com/search/results/people/?keywords=firstname%20lastname&origin=CLUSTER_EXPANSION&page={i}&sid=vqQ"
    driver.get(url)
    soup=BeautifulSoup(driver.page_source,"html.parser")
    for i in soup.find_all("div",class_="PofMLJLYCNPCBOUhmySedBKgvnPKQNvZyexs entity-result__divider pt3 pb3 t-12 t-black--light"):
        a=i.find("div",class_="entity-result__primary-subtitle t-14 t-black t-normal")
        if a:
            role.append(a.text)
        else:
            role.append(np.nan)
    for i in soup.find_all("div",class_="PofMLJLYCNPCBOUhmySedBKgvnPKQNvZyexs entity-result__divider pt3 pb3 t-12 t-black--light"):
        b=i.find("div",class_="entity-result__secondary-subtitle t-14 t-normal")
        if b:
            location.append(b.text)
        else:
            location.append(np.nan)
    for i in soup.find_all("div",class_="PofMLJLYCNPCBOUhmySedBKgvnPKQNvZyexs entity-result__divider pt3 pb3 t-12 t-black--light"):
        c=i.find("div",class_="t-roman t-sans")
        if c:
            first_name.append(c.text)
        else:
            first_name.append(np.nan)

In [364]:
len(first_name)

40

In [365]:
len(role)

40

In [366]:
len(location)

40

In [367]:
data={"First Name":first_name,"Role":role,"Location":location}

In [368]:
linkedin=pd.DataFrame(data)

In [369]:
linkedin["First Name"]

0     \n\n\n\n\nFirstName LastNameView FirstName Las...
1     \n\n\n\n\nFirstname LastNameView Firstname Las...
2     \n\n\n\n\nFirstname LastnameView Firstname Las...
3     \n\n\n\n\nFirstname L.View Firstname L.’s prof...
4     \n\n\n\n\nK, Gopinath ,View K, Gopinath ,’s pr...
5                 \n\n\n\n\nLinkedIn Member\n\n \n\n \n
6     \n\n\n\n\nFirstName LastNameView FirstName Las...
7     \n\n\n\n\nFirstName LastNameView FirstName Las...
8     \n\n\n\n\nFirstName L.View FirstName L.’s prof...
9     \n\n\n\n\nFirstName LastnameView FirstName Las...
10                \n\n\n\n\nLinkedIn Member\n\n \n\n \n
11    \n\n\n\n\nFirstname LastnameView Firstname Las...
12    \n\n\n\n\nFirstname L.View Firstname L.’s prof...
13    \n\n\n\n\nFirstName LastNameView FirstName Las...
14    \n\n\n\n\nFirstName LastNameView FirstName Las...
15    \n\n\n\n\nFirstname L.View Firstname L.’s prof...
16    \n\n\n\n\nfirstname lastnameView firstname las...
17                \n\n\n\n\nLinkedIn Member\n\n \n\n \n
18                \n\n\n\n\nLinkedIn Member\n\n \n\n \n
19    \n\n\n\n\nFirstName LastNameView FirstName Las...
20    \n\n\n\n\nfirstname lastnameView firstname las...
21    \n\n\n\n\nFirstname LastnameView Firstname Las...
22    \n\n\n\n\nfirstname lastnameView firstname las...
23    \n\n\n\n\nFirstName LastNameView FirstName Las...
24    \n\n\n\n\nFirstname LastnameView Firstname Las...
25    \n\n\n\n\nFirstname LastnameView Firstname Las...
26    \n\n\n\n\nFirstName L.View FirstName L.’s prof...
27    \n\n\n\n\nFirstName LastNameView FirstName Las...
28    \n\n\n\n\nSrao_firstname Srao_lastnameView Sra...
29                \n\n\n\n\nLinkedIn Member\n\n \n\n \n
30                \n\n\n\n\nLinkedIn Member\n\n \n\n \n
31                \n\n\n\n\nLinkedIn Member\n\n \n\n \n
32                \n\n\n\n\nLinkedIn Member\n\n \n\n \n
33    \n\n\n\n\nfirstName lastNameView firstName las...
34    \n\n\n\n\nFirstname LastnameView Firstname Las...
35    \n\n\n\n\nFirstname LastnameView Firstname Las...
36    \n\n\n\n\nFirstName LastNameView FirstName Las...
37                \n\n\n\n\nLinkedIn Member\n\n \n\n \n
38    \n\n\n\n\nFirstName LastNameView FirstName Las...
39    \n\n\n\n\nFirstName L.View FirstName L.’s prof...
Name: First Name, dtype: object

In [370]:
linkedin["First Name"]=linkedin["First Name"].replace("\n\n\n\n\n","",regex=True)

In [371]:
linkedin["First Name"][0]

'FirstName LastNameView FirstName LastName’s profile\n\n\n\n \n• 3rd+3rd+ degree connection\n\n\n \n• 3rd+3rd+ degree connection'

In [372]:
linkedin["First Name"]=linkedin["First Name"].apply(lambda x:re.sub("profile.+","",x))

In [373]:
linkedin["First Name"]=linkedin["First Name"].apply(lambda x:re.sub("[,\.;:?/\'\"]","",x))

In [374]:
linkedin["First Name"]

0     FirstName LastNameView FirstName LastName’s pr...
1     Firstname LastNameView Firstname LastName’s pr...
2     Firstname LastnameView Firstname Lastname’s pr...
3     Firstname LView Firstname L’s profile\n\n\n\n ...
4     K Gopinath View K Gopinath ’s profile\n\n\n\n ...
5                           LinkedIn Member\n\n \n\n \n
6     FirstName LastNameView FirstName LastName’s pr...
7     FirstName LastNameView FirstName LastName’s pr...
8     FirstName LView FirstName L’s profile\n\n\n\n ...
9     FirstName LastnameView FirstName Lastname’s pr...
10                          LinkedIn Member\n\n \n\n \n
11    Firstname LastnameView Firstname Lastname’s pr...
12    Firstname LView Firstname L’s profile\n\n\n\n ...
13    FirstName LastNameView FirstName LastName’s pr...
14    FirstName LastNameView FirstName LastName’s pr...
15    Firstname LView Firstname L’s profile\n\n\n\n ...
16    firstname lastnameView firstname lastname’s pr...
17                          LinkedIn Member\n\n \n\n \n
18                          LinkedIn Member\n\n \n\n \n
19    FirstName LastNameView FirstName LastName’s pr...
20    firstname lastnameView firstname lastname’s pr...
21    Firstname LastnameView Firstname Lastname’s pr...
22    firstname lastnameView firstname lastname’s pr...
23    FirstName LastNameView FirstName LastName’s pr...
24    Firstname LastnameView Firstname Lastname’s pr...
25    Firstname LastnameView Firstname Lastname’s pr...
26    FirstName LView FirstName L’s profile\n\n\n\n ...
27    FirstName LastNameView FirstName LastName’s pr...
28    Srao_firstname Srao_lastnameView Srao_firstnam...
29                          LinkedIn Member\n\n \n\n \n
30                          LinkedIn Member\n\n \n\n \n
31                          LinkedIn Member\n\n \n\n \n
32                          LinkedIn Member\n\n \n\n \n
33    firstName lastNameView firstName lastName’s pr...
34    Firstname LastnameView Firstname Lastname’s pr...
35    Firstname LastnameView Firstname Lastname’s pr...
36    FirstName LastNameView FirstName LastName’s pr...
37                          LinkedIn Member\n\n \n\n \n
38    FirstName LastNameView FirstName LastName’s pr...
39    FirstName LView FirstName L’s profile\n\n\n\n ...
Name: First Name, dtype: object

In [375]:
linkedin["First Name"]=linkedin["First Name"].apply(lambda x:re.sub("View.+","",x))

In [376]:
linkedin["First Name"]=linkedin["First Name"].apply(lambda x:re.sub("(Last|\n).+","",x))

In [377]:
linkedin["First Name"]=linkedin["First Name"].apply(lambda x:re.sub("\n+","",x))

In [378]:
linkedin["First Name"]=linkedin["First Name"].apply(lambda x:re.sub("\sL","",x))

In [379]:
linkedin["First Name"]

0                       FirstName
1                       Firstname
2                       Firstname
3                        Firstname
4                      K Gopinath
5                  LinkedIn Member
6                       FirstName
7                       FirstName
8                        FirstName
9                       FirstName
10                 LinkedIn Member
11                      Firstname
12                       Firstname
13                      FirstName
14                      FirstName
15                       Firstname
16              firstname lastname
17                 LinkedIn Member
18                 LinkedIn Member
19                      FirstName
20              firstname lastname
21                      Firstname
22              firstname lastname
23                      FirstName
24                      Firstname
25                      Firstname
26                       FirstName
27                      FirstName
28    Srao_firstname Srao_lastname
29                 LinkedIn Member
30                 LinkedIn Member
31                 LinkedIn Member
32                 LinkedIn Member
33              firstName lastName
34                      Firstname
35                      Firstname
36                      FirstName
37                 LinkedIn Member
38                      FirstName
39                       FirstName
Name: First Name, dtype: object

In [380]:
linkedin["Role"]=linkedin["Role"].replace("\n","",regex=True)

In [381]:
linkedin["Role"]=linkedin["Role"].replace("--","NA",regex=True)

In [382]:
linkedin["Location"]=linkedin["Location"].replace("\n","",regex=True)

In [383]:
linkedin

,First Name,Role,Location
0,FirstName,Headline,"Jharkhand, India"
1,Firstname,NA,Hyderabad
2,Firstname,NA,India
3,Firstname,Headline,San Francisco Bay Area
4,K Gopinath,IT Project Management - Delivery Management,Greater Chennai Area
5,LinkedIn Member,Student at Delhi Technological University (For...,"Delhi, India"
6,FirstName,Freelance at PeoplePerHour,"Rajasthan, India"
7,FirstName,Student at Delhi University,Pune
8,FirstName,NA,Pune
9,FirstName,Role,India
10,LinkedIn Member,NA,"Chhattisgarh, India"
11,Firstname,Student,"Baltimore, MD"
12,Firstname,Senior Software Engineering at Startup,York
13,FirstName,Associate at ACCO Brands,Rajarhat
14,FirstName,software developer,Tashkent
15,Firstname,Seeking HVAC Service Technician career in the ...,United States
16,firstname lastname,NA,India
17,LinkedIn Member,Predictive Analytics,Gurgaon
18,LinkedIn Member,Test at Test,"Maharashtra, India"
19,FirstName,Senior Software Engineer at LinkedIn,San Francisco Bay Area
20,firstname lastname,NA,Kurnool
21,Firstname,Assistant at Metro,Bengaluru
22,firstname lastname,Software Engineer at LinkedIn,"Sunnyvale, CA"
23,FirstName,Software Engineer at LinkedIn,San Francisco Bay Area
24,Firstname,Hello,"Los Gatos, CA"
25,Firstname,Account For Testing Only,"Greater Toronto Area, Canada"
26,FirstName,Occupation,France
27,FirstName,Headline.,Dehradun
28,Srao_firstname Srao_lastname,"QA at Actiance, Inc.",Bengaluru
29,LinkedIn Member,NA,India
30,LinkedIn Member,"Student at Indian Institute of Technology, Bombay",Pune
31,LinkedIn Member,NA,Vijayawada
32,LinkedIn Member,Most Recent Jo Title,"Jammu & Kashmir, India"
33,firstName lastName,Test Engineer at LinkedIn,San Francisco Bay Area
34,Firstname,Human Resources Specialist at US Army,"Portland, OR"
35,Firstname,Executive at Something,"Dhaka, Bangladesh"
36,FirstName,Software Engineer at Testing,Bengaluru
37,LinkedIn Member,Senior Business Analyst at Confidential,Sri Potti Sri Ramulu Nellore
38,FirstName,NA,Washim
39,FirstName,NA,United States